body {
    margin: 0px;
    font-family: Padauk;
}

.haut {
    display: flex;
    width: 100%;
    height: 10px;
    background-color: #B61C27;
}

.fond {
    background-image: url("http://images.frandroid.com/wp-content/uploads/2017/09/xiaomi-mi-mix-2-visuel-pub-3-630x354.jpg");
    background-repeat: no-repeat;
    width: 100%;
}

.sec1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 20px 0% 50px 0%;
    margin: 0px 9% 0px 9%;
}

.sec2 {
    background-color: #E3E3E3;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 50px 0% 50px 0%;
}

.sec3 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 50px 0% 50px 0%;
    margin: 0px 20% 0px 20%;
}

.cercle {
    width: 100px;
    height: 100px;
    border: 1px solid #8D8D8D;
    border-radius: 50px;
    background: #B61C27;
}

.sec1con {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    width: 25%;
}

.sec1con2 {
    margin-left: 5%;
    margin-right: 5%;
}

.videovimeo {
    margin-right: 9%;
}

h2 {
    color: #2d2d2d;
}

h3 {
    color: #2d2d2d;
}

p {
    color: #8D8D8D;
}

.sec1con p {
    margin-top: 0px;
}

.sec2con {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    margin: 0px 5% 0px 9%;
}

.sec2con h2 {
    margin-top: 0px;
    margin-bottom: 5px;
}

.sec3con {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sec3con h3 {
    margin: 0px 0px 10px 0px;
}

.sec3con h2 {
    margin: 40px 0px -10px 0px;
}

iframe {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mail {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.inpmail {
    line-height: 40px;
    background-color: white;
    border: 1px solid #8D8D8D;
    border-radius: 15px 0px 0px 15px;
    padding: 5px 10px 5px 20px;
    width: 200px;
}

.bouton {
    background-color: #B61C27;
    border: 1px solid #8D8D8D;
    border-radius: 0px 15px 15px 0px;
    color: white;
    width: 130px;
    font-size: 1.5em;
    margin-left: -1px;
}

.bulle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.image {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

.carre {
    height: 50px;
    width: 50px;
    background-color: #8D8D8D;
    margin: 0px 1px 0px 1px;
}

.carre:hover {
    background-color: #B61C27;
}

.cercle2 {
    width: 30px;
    height: 30px;
    margin: 0px 5px 0px 5px;
    border-radius: 15px;
    background: #8D8D8D;
}

.cercle2:hover {
    background-color: #B61C27;
}